apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-ynnh
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-ynnh
    app.kubernetes.io/part-of: ci1t-830-0097-app
  name: devfile-sample-ynnh
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: devfile-sample-ynnh
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: devfile-sample-ynnh
    spec:
      containers:
      - image: quay.io/stonesoup_perfscale/ci1t-830-0097-tenant/ci1t-830-0097-app/devfile-sample-ynnh@sha256:3e50a6dcf5b57c591b31b73be164495122fadd1b1b4b1b42734cefc05404d5e8
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
